/* General Home CSS */

.home-div {
    /* background-color: green; */
    min-height: 100vh;
}

.heading {
    font-weight: bold;
}

.header-underline::after {
    content: "";
    display: block;
    width: 100px;
    padding-top: 3px;
    border-bottom: 5px solid #126ab1a3;
    border-radius: 10px;
}

.subheading {
    font-weight: normal;
}

.txt-body {
    font-weight: 370;
}

.logo-img {
    background: linear-gradient(#c8c8c8, #ffffff);;
    width: 100%;
    border-width: 2px;
    border-radius: 40px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
}

/* Splash Page CSS */

.splash-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10% 5% 10%;
}

.splash-txt {
    /* background-color: orange; */
    width: 50%;
    height: 70%;
    text-align: left;
    padding: 10% 5% 10% 10%;
}

.splash-btn{
    background-color: #208ae1;
    color: white;
    min-width: 70%;
    width: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 5%;
    column-gap: 10px;
    font-size: large;
    /* border-radius: 30px; */
}
.splash-btn:hover{
    background-color: #155e99;
    text-decoration: underline;
}

.splash-img{
    /* background-color: aqua; */
    width: 50%;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}

.splash-socials {
    /* background-color: green; */
    margin-top: 2%;
}

.social-icon {
    color: black;
    margin: 3%;
    font-size: xx-large;
}
.social-icon:hover {
    color: #155e99;
    /* color: #208ae1; */

}

@media only screen and (max-width: 600px) {

    /* General CSS */

    .splash-img, .about-img {
        /* background-color: green; */
        width: 85%;
        margin-top: 5%;
    }

    .splash-txt, .about-txt {
        /* background-color: green; */
        padding: 0px;
        margin-top: 8%;
        width: 80%;
    }

    /* Splash CSS */

    .splash-page {
        /* background-color: orange; */
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    .splash-btn {
        width: 100%;
    }
}